.home-container {
  margin: auto;
  height: 67vh;
  width: 80vw;
  background-color: #1f1f1f;
  border: 1px solid gray;
  box-shadow: 10px 5px 5px rebeccapurple;
  overflow: auto;
}

.container-title {
  color: white;
  text-align: left;
  margin: 30px 0 20px;
  padding-left: 50px;
}

.container-content {
  margin: 0 50px;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
  width: 80%;
  left: 10%;
}
.gradient-border {
  --borderWidth: 3px;
  background: #1d1f2096;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container-content .card-carousel {
  width: 790px;
  position: relative;
  margin: auto;
}

.card-carousel-left-arrow-container {
  position: absolute;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px
}

.card-carousel-left-arrow {
  font-size: 100px;
  color: lawngreen;
}

.card-carousel-right-arrow-container {
  right: 0;
  position: absolute;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}

.card-carousel-right-arrow {
  font-size: 100px;
  color: lawngreen;
}

.container-content .card-carousel .card-carousel-content {
  background: url('../../static/qatar.webp');
  height: 445px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
}

.container-content .card-main {
  height: 300px;
}

.container-content .card-main .card-main-left {
  display: flex;
}

.chart-container {
  flex: 2;
  background: red;
  width: 100%;
  height: 100%;
}

.chart-1 {
  
}

.chart-2 {
  
}

.card-news {
  flex: 1;
}

.card-photos {
  flex: 1;
}

.container-content .card-main .card-main-right {
  
}
